@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Inter, sans-serif;
	background-color: #d8d4e8;
}

img {
    display: block;
}


/* FONTS */

h1, h2, h3, h4 {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}