@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
	background-color: #d8d4e8;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}



/* FONTS */

h1, h2, h3, h4 {
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;

    padding-bottom: 1.5rem;
}
h2 {
    font-size: 2rem;
    font-weight: 700;

    padding-bottom: 0.7rem;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;

    padding-bottom: 0.5rem;
}
h4 {
    font-size: 1.3rem;
    font-weight: 600;

    padding-bottom: 0.7rem;
}

strong {
    color: #ff0000;
}

figcaption {
    font-size: 0.9rem;
    text-align: center;

    margin-top: 0.5rem;
}


/* HEADER */

header {
    max-width: 85rem;

    margin: 6rem auto 0;
}



/* NAV / MENU */

menu {
    height: 3.5rem;

    display: flex;
    justify-content: space-around;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #d8d4e8;
}

menu li {
    height: 100%;
    align-content: center;

    padding: 0 1.5rem;
}

menu li:last-of-type {
    background-color: #fff;
}



/* MAIN */

main {
    max-width: 75rem;

    margin: 5rem auto;
}

section {
    border-radius: 10px;
    background-color: #fff;

    padding: 1.5rem;
    margin-bottom: 2rem;
}

aside {
    margin-top: 2rem;
}

article {
    width: 33%;
    display: inline-block;

    border-radius: 10px;
    background-color: #fff;

    padding: 1rem;
}



/* FOOTER */

footer {
    max-width: 75rem;

    margin: 0 auto;
}

address {
    font-size: 0.9rem;
    text-align: center;

    margin: 2rem 0;
}

label {
    display: block;
    margin-bottom: 0.3rem;
}

input {
    height: 2rem;
    display: block;

    font-size: 1rem;

    margin-bottom: 0.9rem;
}